# Section 8: Preparing for Modeling

## 1. Concat

In [1]:
# read in text files
import pandas as pd

ca = pd.read_csv('../Data/happiness_data_ca.txt')
mx = pd.read_csv('../Data/happiness_data_mx.txt')
us = pd.read_csv('../Data/happiness_data_us.txt')
cr = pd.read_csv('../Data/happiness_data_cr.txt')

In [2]:
# canada data
ca.head()

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Canada,2005,7.418048,0.961552,0.957306,70.500000
1,Canada,2007,7.481753,NaN,0.930341,70.620003
2,Canada,2008,7.485604,0.938707,0.926315,70.680000
3,Canada,2009,7.487824,0.942845,0.915058,70.739998
4,Canada,2010,7.650346,0.953765,0.933949,70.800003

In [87]:
# mexico data
mx.head()

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Mexico,2005,6.580658,0.902808,0.813745,64.400002
1,Mexico,2007,6.525378,0.878806,0.670430,64.680000
2,Mexico,2008,6.829036,0.876328,0.677477,64.820000
3,Mexico,2009,6.962819,0.868221,0.682463,64.959999
4,Mexico,2010,6.802389,0.876390,0.778121,65.099998

In [88]:
# us data - missing last column
us.head()

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices
0,United States,2006,7.181794,0.964572,0.911496
1,United States,2007,7.512688,NaN,0.871904
2,United States,2008,7.280386,0.952587,0.877956
3,United States,2009,7.158032,0.911794,0.830684
4,United States,2010,7.163616,0.926159,0.828044

In [89]:
# costa rica data - first column has different name
cr.head()

,nombre del país,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Costa Rica,2006,7.082465,0.936938,0.882420,68.559998
1,Costa Rica,2007,7.432132,0.917678,0.922736,68.720001
2,Costa Rica,2008,6.850680,0.915759,0.912006,68.879997
3,Costa Rica,2009,7.614929,0.899782,0.886061,69.040001
4,Costa Rica,2010,7.271054,0.915141,0.881030,69.199997

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth,nombre del país
0,United States,2006,7.181794,0.964572,0.911496,NaN,NaN
1,United States,2007,7.512688,NaN,0.871904,NaN,NaN
2,United States,2008,7.280386,0.952587,0.877956,NaN,NaN
3,United States,2009,7.158032,0.911794,0.830684,NaN,NaN
4,United States,2010,7.163616,0.926159,0.828044,NaN,NaN
...,...,...,...,...,...,...,...
11,NaN,2017,7.225182,0.921697,0.935618,70.0,Costa Rica
12,NaN,2018,7.141075,0.875872,0.941888,70.0,Costa Rica
13,NaN,2019,6.997619,0.906077,0.926830,70.0,Costa Rica
14,NaN,2020,6.338472,0.834200,0.889400,70.0,Costa Rica
15,NaN,2021,6.408448,0.876052,0.886652,70.0,Costa Rica

In [93]:
# concatenate files with same column names
pd.concat([ca, mx])

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Canada,2005,7.418048,0.961552,0.957306,70.500000
1,Canada,2007,7.481753,NaN,0.930341,70.620003
2,Canada,2008,7.485604,0.938707,0.926315,70.680000
3,Canada,2009,7.487824,0.942845,0.915058,70.739998
4,Canada,2010,7.650346,0.953765,0.933949,70.800003
5,Canada,2011,7.426054,0.921669,0.950925,70.860001
6,Canada,2012,7.415144,0.948128,0.917961,70.919998
7,Canada,2013,7.593794,0.936239,0.916014,70.980003
8,Canada,2014,7.304258,0.917836,0.938898,71.040001
9,Canada,2015,7.412773,0.939067,0.931469,71.099998
10,Canada,2016,7.244846,0.924393,0.912424,71.150002
11,Canada,2017,7.414868,0.933749,0.945145,71.199997
12,Canada,2018,7.175497,0.922719,0.945783,71.250000
13,Canada,2019,7.109076,0.925304,0.911526,71.300003
14,Canada,2020,7.024905,0.930611,0.886892,71.349998
15,Canada,2021,6.939435,0.926076,0.898229,71.400002
0,Mexico,2005,6.580658,0.902808,0.813745,64.400002
1,Mexico,2007,6.525378,0.878806,0.670430,64.680000
2,Mexico,2008,6.829036,0.876328,0.677477,64.820000
3,Mexico,2009,6.962819,0.868221,0.682463,64.959999
4,Mexico,2010,6.802389,0.876390,0.778121,65.099998
5,Mexico,2011,6.909515,0.824064,0.831368,65.239998
6,Mexico,2012,7.320185,0.767279,0.787768,65.379997
7,Mexico,2013,7.442546,0.759138,0.738717,65.519997
8,Mexico,2014,6.679831,0.781965,0.779133,65.660004
9,Mexico,2015,6.236287,0.760614,0.719466,65.800003
10,Mexico,2016,6.824173,0.893493,0.751613,65.800003
11,Mexico,2017,6.410299,0.799839,0.861405,65.800003
12,Mexico,2018,6.549579,0.858069,0.816200,65.800003
13,Mexico,2019,6.431945,0.851686,0.903384,65.800003
14,Mexico,2020,5.964221,0.778816,0.873347,65.800003
15,Mexico,2021,5.990751,0.778605,0.837159,65.800003

In [94]:
# concatenate files with different number of columns
pd.concat([ca, mx, us]).tail()

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
11,United States,2017,6.991759,0.921003,0.868497,NaN
12,United States,2018,6.882685,0.903856,0.824607,NaN
13,United States,2019,6.943701,0.916691,0.836139,NaN
14,United States,2020,7.028088,0.937370,0.850447,NaN
15,United States,2021,6.959088,0.920009,0.815735,NaN

In [8]:
# concatenate files with different column names
pd.concat([ca, mx, us, cr])

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth,nombre del país
0,Canada,2005,7.418048,0.961552,0.957306,70.500000,NaN
1,Canada,2007,7.481753,NaN,0.930341,70.620003,NaN
2,Canada,2008,7.485604,0.938707,0.926315,70.680000,NaN
3,Canada,2009,7.487824,0.942845,0.915058,70.739998,NaN
4,Canada,2010,7.650346,0.953765,0.933949,70.800003,NaN
...,...,...,...,...,...,...,...
11,NaN,2017,7.225182,0.921697,0.935618,70.000000,Costa Rica
12,NaN,2018,7.141075,0.875872,0.941888,70.000000,Costa Rica
13,NaN,2019,6.997619,0.906077,0.926830,70.000000,Costa Rica
14,NaN,2020,6.338472,0.834200,0.889400,70.000000,Costa Rica
15,NaN,2021,6.408448,0.876052,0.886652,70.000000,Costa Rica

In [5]:
# rename the column with a different name
happy_scores = pd.concat([ca, mx, us, cr.rename(columns = {'nombre del país': 'country_name'})])
happy_scores

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Canada,2005,7.418048,0.961552,0.957306,70.500000
1,Canada,2007,7.481753,NaN,0.930341,70.620003
2,Canada,2008,7.485604,0.938707,0.926315,70.680000
3,Canada,2009,7.487824,0.942845,0.915058,70.739998
4,Canada,2010,7.650346,0.953765,0.933949,70.800003
...,...,...,...,...,...,...
11,Costa Rica,2017,7.225182,0.921697,0.935618,70.000000
12,Costa Rica,2018,7.141075,0.875872,0.941888,70.000000
13,Costa Rica,2019,6.997619,0.906077,0.926830,70.000000
14,Costa Rica,2020,6.338472,0.834200,0.889400,70.000000
15,Costa Rica,2021,6.408448,0.876052,0.886652,70.000000

In [6]:
pd.concat([us,ca,mx,cr])

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth,nombre del país
0,United States,2006,7.181794,0.964572,0.911496,NaN,NaN
1,United States,2007,7.512688,NaN,0.871904,NaN,NaN
2,United States,2008,7.280386,0.952587,0.877956,NaN,NaN
3,United States,2009,7.158032,0.911794,0.830684,NaN,NaN
4,United States,2010,7.163616,0.926159,0.828044,NaN,NaN
...,...,...,...,...,...,...,...
11,NaN,2017,7.225182,0.921697,0.935618,70.0,Costa Rica
12,NaN,2018,7.141075,0.875872,0.941888,70.0,Costa Rica
13,NaN,2019,6.997619,0.906077,0.926830,70.0,Costa Rica
14,NaN,2020,6.338472,0.834200,0.889400,70.0,Costa Rica
15,NaN,2021,6.408448,0.876052,0.886652,70.0,Costa Rica

In [12]:
# reset the index
happy_scores.reset_index(drop=True)

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Canada,2005,7.418048,0.961552,0.957306,70.500000
1,Canada,2007,7.481753,NaN,0.930341,70.620003
2,Canada,2008,7.485604,0.938707,0.926315,70.680000
3,Canada,2009,7.487824,0.942845,0.915058,70.739998
4,Canada,2010,7.650346,0.953765,0.933949,70.800003
...,...,...,...,...,...,...
59,Costa Rica,2017,7.225182,0.921697,0.935618,70.000000
60,Costa Rica,2018,7.141075,0.875872,0.941888,70.000000
61,Costa Rica,2019,6.997619,0.906077,0.926830,70.000000
62,Costa Rica,2020,6.338472,0.834200,0.889400,70.000000
63,Costa Rica,2021,6.408448,0.876052,0.886652,70.000000

## 2. Merge

### a. Merge Basics

In [14]:
# read in spreadsheet
sales_may = pd.read_excel('/Users/sunitjadeja/Desktop/Sales Tables.xlsx', sheet_name="may_sales")
sales_june = pd.read_excel('/Users/sunitjadeja/Desktop/Sales Tables.xlsx', sheet_name="june_sales")
regions = pd.read_excel('/Users/sunitjadeja/Desktop/Sales Tables.xlsx', sheet_name="regions")

In [11]:
sales_may.merge(sales_june,how="outer",left_on="store",right_on="store")

      date_x  store  sales_x     date_y  sales_y
0 2022-05-01      1      341 2022-06-01       67
1 2022-05-01      2      291 2022-06-01      144
2 2022-05-01      3      493 2022-06-01      226
3 2022-05-01      4      428 2022-06-01      397
4 2022-05-01      5      152 2022-06-01      163

In [16]:
sales_may.merge(sales_june,how="left",left_on="store",right_on="store")

      date_x  store  sales_x     date_y  sales_y
0 2022-05-01      1      341 2022-06-01       67
1 2022-05-01      2      291 2022-06-01      144
2 2022-05-01      3      493 2022-06-01      226
3 2022-05-01      4      428 2022-06-01      397
4 2022-05-01      5      152 2022-06-01      163

In [17]:
sales_may.merge(sales_june,how="right",left_on="store",right_on="store")

      date_x  store  sales_x     date_y  sales_y
0 2022-05-01      1    341.0 2022-06-01       67
1 2022-05-01      2    291.0 2022-06-01      144
2 2022-05-01      3    493.0 2022-06-01      226
3 2022-05-01      4    428.0 2022-06-01      397
4 2022-05-01      5    152.0 2022-06-01      163
5        NaT      6      NaN 2022-06-01      180

In [18]:
sales_may.merge(sales_june,how="inner",left_on="store",right_on="store")

      date_x  store  sales_x     date_y  sales_y
0 2022-05-01      1      341 2022-06-01       67
1 2022-05-01      2      291 2022-06-01      144
2 2022-05-01      3      493 2022-06-01      226
3 2022-05-01      4      428 2022-06-01      397
4 2022-05-01      5      152 2022-06-01      163

In [8]:
sales_may

        date  store  sales
0 2022-05-01      1    341
1 2022-05-01      2    291
2 2022-05-01      3    493
3 2022-05-01      4    428
4 2022-05-01      5    152

In [9]:
regions

   store region
0      2  North
1      3   East
2      4   West
3      8  South

In [15]:
sales_june

        date  store  sales
0 2022-06-01      1     67
1 2022-06-01      2    144
2 2022-06-01      3    226
3 2022-06-01      4    397
4 2022-06-01      5    163
5 2022-06-01      6    180

In [14]:
# accept defaults
sales_may.merge(regions)

        date  store  sales region
0 2022-05-01      2    291  North
1 2022-05-01      3    493   East
2 2022-05-01      4    428   West

In [15]:
# specify join
sales_may.merge(regions, how='left')

        date  store  sales region
0 2022-05-01      1    341    NaN
1 2022-05-01      2    291  North
2 2022-05-01      3    493   East
3 2022-05-01      4    428   West
4 2022-05-01      5    152    NaN

In [16]:
# specify left and right join columns
sales_may.merge(regions, how='left', left_on='store', right_on='store') ###inner, outer, right

        date  store  sales region
0 2022-05-01      1    341    NaN
1 2022-05-01      2    291  North
2 2022-05-01      3    493   East
3 2022-05-01      4    428   West
4 2022-05-01      5    152    NaN

In [17]:
# use on if columns have same name
sales_may.merge(regions, how='left', on='store')

        date  store  sales region
0 2022-05-01      1    341    NaN
1 2022-05-01      2    291  North
2 2022-05-01      3    493   East
3 2022-05-01      4    428   West
4 2022-05-01      5    152    NaN

### b. Join Types

In [13]:
# only look at 2020's data
happy_scores = happy_scores[happy_scores.year > 2019]
happy_scores

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
14,Canada,2020,7.024905,0.930611,0.886892,71.349998
15,Canada,2021,6.939435,0.926076,0.898229,71.400002
14,Mexico,2020,5.964221,0.778816,0.873347,65.800003
15,Mexico,2021,5.990751,0.778605,0.837159,65.800003
14,United States,2020,7.028088,0.937370,0.850447,NaN
15,United States,2021,6.959088,0.920009,0.815735,NaN
14,Costa Rica,2020,6.338472,0.834200,0.889400,70.000000
15,Costa Rica,2021,6.408448,0.876052,0.886652,70.000000

In [24]:
import pandas as pd
import requests

url = "https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)"

# Send a request with a browser-like header
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0 Safari/537.36"}
response = requests.get(url, headers=headers)
response.raise_for_status()

# Parse all tables
tables = pd.read_html(response.text)
pop = tables[0]
pop_na = pop[pop['UN statistical subregion[1]'] == 'Northern America']

In [28]:
pop_na

,Country or territory,Population (1 July 2022),Population (1 July 2023),Change (%),UN continental region[1],UN statistical subregion[1]
3,United States,341534046,343477335,+0.57%,Americas,Northern America
38,Canada,38821259,39299105,+1.23%,Americas,Northern America
207,Bermuda (United Kingdom),64749,64698,−0.08%,Americas,Northern America
209,Greenland (Denmark),54990,55922,+1.69%,Americas,Northern America
231,Saint Pierre and Miquelon (France),5732,5681,−0.89%,Americas,Northern America

In [14]:
# merge the happiness scores and population data together
happy_scores.merge(pop, how='inner', left_on = 'country_name', right_on='Country or territory')

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth,Country or territory,Population (1 July 2022),Population (1 July 2023),Change (%),UN continental region[1],UN statistical subregion[1]
0,Canada,2020,7.024905,0.930611,0.886892,71.349998,Canada,38821259,39299105,+1.23%,Americas,Northern America
1,Canada,2021,6.939435,0.926076,0.898229,71.400002,Canada,38821259,39299105,+1.23%,Americas,Northern America
2,United States,2020,7.028088,0.937370,0.850447,NaN,United States,341534046,343477335,+0.57%,Americas,Northern America
3,United States,2021,6.959088,0.920009,0.815735,NaN,United States,341534046,343477335,+0.57%,Americas,Northern America

In [16]:
# outer join
happy_scores.merge(pop, how='outer', left_on = 'country_name', right_on='Country or territory')

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth,Country or territory,Population (1 July 2022),Population (1 July 2023),Change (%),UN continental region[1],UN statistical subregion[1]
0,Canada,2020.0,7.024905,0.930611,0.886892,71.349998,Canada,38821259.0,39299105.0,+1.23%,Americas,Northern America
1,Canada,2021.0,6.939435,0.926076,0.898229,71.400002,Canada,38821259.0,39299105.0,+1.23%,Americas,Northern America
2,Mexico,2020.0,5.964221,0.778816,0.873347,65.800003,NaN,NaN,NaN,NaN,NaN,NaN
3,Mexico,2021.0,5.990751,0.778605,0.837159,65.800003,NaN,NaN,NaN,NaN,NaN,NaN
4,United States,2020.0,7.028088,0.937370,0.850447,NaN,United States,341534046.0,343477335.0,+0.57%,Americas,Northern America
5,United States,2021.0,6.959088,0.920009,0.815735,NaN,United States,341534046.0,343477335.0,+0.57%,Americas,Northern America
6,Costa Rica,2020.0,6.338472,0.834200,0.889400,70.000000,NaN,NaN,NaN,NaN,NaN,NaN
7,Costa Rica,2021.0,6.408448,0.876052,0.886652,70.000000,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,Bermuda (United Kingdom),64749.0,64698.0,−0.08%,Americas,Northern America
9,NaN,NaN,NaN,NaN,NaN,NaN,Greenland (Denmark),54990.0,55922.0,+1.69%,Americas,Northern America
10,NaN,NaN,NaN,NaN,NaN,NaN,Saint Pierre and Miquelon (France),5732.0,5681.0,−0.89%,Americas,Northern America

In [17]:
# left join
happy_scores.merge(pop, how='left', left_on = 'country_name', right_on='Country or territory')

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth,Country or territory,Population (1 July 2022),Population (1 July 2023),Change (%),UN continental region[1],UN statistical subregion[1]
0,Canada,2020,7.024905,0.930611,0.886892,71.349998,Canada,38821259.0,39299105.0,+1.23%,Americas,Northern America
1,Canada,2021,6.939435,0.926076,0.898229,71.400002,Canada,38821259.0,39299105.0,+1.23%,Americas,Northern America
2,Mexico,2020,5.964221,0.778816,0.873347,65.800003,NaN,NaN,NaN,NaN,NaN,NaN
3,Mexico,2021,5.990751,0.778605,0.837159,65.800003,NaN,NaN,NaN,NaN,NaN,NaN
4,United States,2020,7.028088,0.937370,0.850447,NaN,United States,341534046.0,343477335.0,+0.57%,Americas,Northern America
5,United States,2021,6.959088,0.920009,0.815735,NaN,United States,341534046.0,343477335.0,+0.57%,Americas,Northern America
6,Costa Rica,2020,6.338472,0.834200,0.889400,70.000000,NaN,NaN,NaN,NaN,NaN,NaN
7,Costa Rica,2021,6.408448,0.876052,0.886652,70.000000,NaN,NaN,NaN,NaN,NaN,NaN